In [83]:
import pandas as pd
import numpy as np

In [84]:
df_0 = pd.read_csv("data_0.csv")
df_1 = pd.read_csv("data_1.csv")
df_2 = pd.read_csv("data_2.csv")
df_3 = pd.read_csv("data_3.csv")
df_4 = pd.read_csv("data_4.csv")
df_5 = pd.read_csv("data_5.csv")
df_6 = pd.read_csv("data_6.csv")
df_7 = pd.read_csv("data_7.csv")
df_8 = pd.read_csv("data_8.csv")

In [85]:
data = pd.DataFrame()

In [86]:
dfs = [df_0,df_1,df_2,df_3,df_4,df_5,df_6,df_7,df_8]
for df in dfs:
    data = data.append(df)

In [87]:
data = data.dropna(thresh=4)

In [88]:
data = data.drop_duplicates()

In [89]:
data.reset_index(inplace=True,drop=True)

In [91]:
data.shape

(149, 9)

In [90]:
data.head()

,id,name,skills,desc,exp,spec,area,resp,req
0,46543564.0,Machine Learning Developer,"Python,Анализ данных,Computer Vision,C++,Machi...",Обязанности: Разработка алгоритмов ML для ана...,NaN,"Программирование, Разработка",Санкт-Петербург,Разработка алгоритмов ML для анализа больших д...,Профильное образование. Опыт ML разработки не ...
1,46607069.0,Intern Machine learning,"Python,Tensorflow,PyTorch,Английский язык,Mach...",COMPANY DESCRIPTIONSAP started in 1972 as a te...,NaN,"Информатика, Информационные системы,Информацио...",Санкт-Петербург,Deploy your model into production using KFServ...,"Analyze large datasets, use machine learning l..."
2,46108037.0,Machine Learning Engineer (Python),"Английский язык,Docker,Spark,Kafka,Kubernetes,...",StarNavi is looking for a Software Infrastruct...,NaN,"Программирование, Разработка,Компьютерная безо...",Санкт-Петербург,Help design and implement functional requireme...,Understanding of micro-services architectures....
3,44007750.0,Data scientist/Machine learning engineer в ком...,"Python,C++,ML,Deep Learning,PyTorch,Machine Le...",Наша команда развивает передовые технологии ма...,NaN,"Программирование, Разработка",Санкт-Петербург,Обучать и внедрять современные SoTA-модели на ...,Понимаете концепции Deep Learning и можете сво...
4,42449951.0,Data scientist/Machine learning engineer в Ком...,"Python,Spark,Big Data,PHP",Сейчас мы ищем middle- или senior-разработчика...,NaN,"Программирование, Разработка,Инженер,Аналитик",Санкт-Петербург,"Как эффективно собирать, хранить и обрабатыват...",Высокий уровень навыков в программировании. От...

In [92]:
data.to_csv("mini_df.csv",index=False)